<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title>List Authors</title>
</head>
<body>
		
	<div layout:fragment="content">
	<p th:text=" 'Ilość wierszy :' + ${ilosc}" >  </p>
    	<table class="table table-striped">
			<thead> 
				<tr> 
					<th>#</th> 
					<th>First Name</th> 
					<th>Last Name</th> 
					<th>Email</th> 
					<th>Posts By Author</th>
				</tr> 
			</thead>
			<tbody>
				<tr th:each="author, iterationStatus : ${authors}">
					<td th:text="${iterationStatus.count}">1</td>
					<td th:text="${author.firstName}">First Name</td>
					<td th:text="${author.lastName}">Last Name</td>
					<td th:text="${author.email}">Email Address</td>
					<td><a href="#" th:href="@{/posts/byAuthor/} + ${author.id}">Post By Author</a></td>
					<!-- <td><a th:href="|/posts/byAuthor/${author.id}|">Posts By Author</a></td> -->
				</tr>
			</tbody>
		</table>
		
		<p sec:authorize="hasRole('ROLE_KANC')">
			<a th:href="@{/admin/post/create}">Add New Post</a>
		</p>
		<p sec:authorize="hasRole('ROLE_ADMIN')">
			<a th:href="@{/admin/post/create}">Add New Post</a>
		</p>
		
		<br/><br/>

	</div>
		
</body>
</html>