<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title>Change Password</title>
</head>
<body>
	<div layout:fragment="content">
			<h2>Change Password</h2>
		<br/>

		<form class="form-horizontal" th:object="${author}" th:action="@{/admin/author/save}" method="post">
			<input type="hidden" th:field="*{id}" />
			<div th:class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error'">
				<label class="col-sm-2 control-label">First Name <span class="required">*</span></label>
				<div class="col-md-10">
					<input type="text" class="form-control" th:field="*{firstName}" th:readonly="readonly" />
					<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:class="help-block">First Name Errors</span>
				</div>
			</div>
			<div th:class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error'">
		    	<label class="col-sm-2 control-label">Last Name <span class="required">*</span></label>
		    	<div class="col-md-10">
		    		<input type="text" class="form-control" th:field="*{lastName}"  th:readonly="readonly" />
		    		<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:class="help-block">Last Name Errors</span>
		    	</div>
		  	</div>
		  	<div th:class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
		    	<label class="col-sm-2 control-label">Email <span class="required">*</span></label>
		    	<div class="col-md-10">
		    		<input type="text" class="form-control" th:field="*{email}" th:readonly="readonly"  />
		    		<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="help-block">Email Errors</span>
		    	</div>
		  	</div>
		  	<div th:class="form-group" th:classappend="${#fields.hasErrors('userName')}? 'has-error'">
		    	<label class="col-sm-2 control-label">user Name <span class="required">*</span></label>
		    	<div class="col-md-10">
		    		<input type="text" class="form-control" th:field="*{userName}" th:readonly="readonly" />
		    		<span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" th:class="help-block">Username Errors</span>
		    	</div>
		  	</div>
		  	<div th:class="form-group" th:classappend="${#fields.hasErrors('role')}? 'has-error'">
		    	<label class="col-sm-2 control-label">Role <span class="required">*</span></label>
		    	<div class="col-md-10">
		    		<input type="text" class="form-control" th:field="*{role}" th:readonly="readonly" />
		    		<span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" th:class="help-block">Role Errors</span>
		    	</div>
		  	</div>
		  	<div th:class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
		    	<label class="col-sm-2 control-label">Password <span class="required">*</span></label>
		    	<div class="col-md-10">
		    		<input type="password" class="form-control" th:field="*{password}" />
		    		<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:class="help-block">Password Errors</span>
		    	</div>
		  	</div>
		  	
			<div class="form-group">
		    	<label class="col-sm-2 control-label">Active</label>
		    	<div class="col-md-10">
					<div class="checkbox">
					  <label>
					    <input type="checkbox" th:field="*{active}"/>
					  </label>
					</div>    		
		    	</div>
		  	</div>
			  	
			<button type="submit" class="btn btn-primary pull-right">Submit</button>
		</form>
		
		<br/><br/><br/>
		
	</div>
		
</body>
</html>