<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title>MAnage Authors</title>
</head>
<body>
		
	<div layout:fragment="content">
	
    	<table class="table table-striped">
			<thead> 
				<tr> 
					<th>#</th> 
					<th>First Name</th> 
					<th>Last Name</th> 
					<th>Email</th>
					<th>UserName</th>
					<th>Role</th>  
					<th>Password</th>
					<th>View</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr> 
			</thead>
			<tbody>
				<tr th:each="author, iterationStatus : ${authors}">
					<td th:text="${iterationStatus.count}">1</td>
					<td th:text="${author.firstName}">First Name</td>
					<td th:text="${author.lastName}">Last Name</td>
					<td th:text="${author.email}">Email Address</td>
					<td th:text="${author.userName}">User name</td>
					<td th:text="${author.role}">Role</td>
					<td th:text="${author.password}">Password</td>
					<td><a href="#" th:href="@{/admin/author/} + ${author.id}">View</a></td>
					<td><a href="#" th:href="@{/admin/author/edit/} + ${author.id}">Edit</a></td>
					<td><a href="#" th:href="@{/admin/author/delete/} + ${author.id}">Delete</a></td>
				</tr>
			</tbody>
		</table>
		
		
		<p sec:authorize="hasRole('ROLE_KANC')">
			<a th:href="@{/admin/post/create}">Add New Post</a>
		</p>
		
		<p sec:authorize="hasRole('ROLE_ADMIN')">
			<a th:href="@{/admin/post/create}">Add New Post</a>
		</p>
		
		<a th:href="@{/admin/author/create}">Add New Author</a>
		<br/><br/>
		
		<p th:if="${authors.size() == 0}">
			<div class="alert alert-warning" role="alert">No Authors Found.</div>
		</p>
		
		<br/><br/>

	</div>
		
</body>
</html>