<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title>View Author</title>
</head>
<body>
		
	<div layout:fragment="content">
	
		<h2>View Author</h2>

		<form class="form-horizontal">
			
			<div class="form-group">
		    	<label class="col-sm-2 control-label">ID</label>
		    	<div class="col-md-10">
		    		<p class="form-control-static" th:text="${author.id}">slug</p>
		    	</div>
		  	</div>
			
			<div class="form-group">
		    	<label class="col-sm-2 control-label">First Name</label>
		    	<div class="col-md-10">
		    		<p class="form-control-static" th:text="${author.firstName}">first name</p>
		    	</div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">Last Name</label>
		    	<div class="col-md-10">
		    		<p class="form-control-static" th:text="${author.lastName}">last name</p>
		    	</div>
		  	</div>
			<div class="form-group">
		    	<label class="col-sm-2 control-label">Email</label>
		    	<div class="col-md-10">
		    		<p class="form-control-static" th:text="${author.email}">email</p>
		    	</div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">User Name</label>
		    	<div class="col-md-10">
		    		<p class="form-control-static" th:text="${author.userName}">user Name</p>
		    	</div>
		  	</div>		
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">Role</label>
		    	<div class="col-md-10">
		    		<p class="form-control-static" th:text="${author.role}">Role</p>
		    	</div>
		  	</div>		
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">Password</label>
		    	<div class="col-md-10">
		    		<p class="form-control-static" th:text="${author.password}">Password</p>
		    	</div>
		  	</div>				  	
			
		</form>
		
		<a th:href="@{/admin/authors/}">Back To Authors List</a>
		<br/><br/><br/>
		
	</div>
		
</body>
</html>